[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/ros_astra_camera"]
	path = src/ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera.git
[submodule "src/ros_aiva_camera"]
	path = src/ros_aiva_camera
	url = https://github.com/deyouslamtec/ros_aiva_camera
[submodule "src/rrt_exploration"]
	path = src/rrt_exploration
	url = https://github.com/hasauino/rrt_exploration.git
[submodule "src/slamtec_joy_control"]
	path = src/slamtec_joy_control
	url = https://github.com/deyouslamtec/slamtec_joy_control.git
[submodule "src/slamtec_multi"]
	path = src/slamtec_multi
	url = https://github.com/deyouslamtec/slamtec_multi.git
[submodule "src/slamtec_robot_rc"]
	path = src/slamtec_robot_rc
	url = https://github.com/deyouslamtec/slamtec_robot_rc.git
[submodule "src/slamtec_yolo_action"]
	path = src/slamtec_yolo_action
	url = https://github.com/deyouslamtec/slamtec_yolo_action.git
[submodule "src/turn_on_slamtec_robot"]
	path = src/turn_on_slamtec_robot
	url = https://github.com/deyouslamtec/turn_on_slamtec_robot.git
[submodule "src/xf_mic_asr_offline"]
	path = src/xf_mic_asr_offline
	url = https://github.com/yanjingang/xf_mic_asr_offline.git
